.navbar-grey
{
    background-color: #2b2b2b;
    border-radius: 0px;
}


.dota-logo
{
    height: 47px;
    margin-top: -14px;
}


footer
{
    display: flex;
    padding: 10px 5px;
    background-color: #2b2b2b;
    color: #fff;
    bottom: 0;
    width: 100%;
}

    footer p
    {
        flex: 1;
        margin: 0;
    }

    footer ul
    {
        flex: 1;
        display: flex;
        justify-content: space-around;
        margin: 0;
        padding-left: 0;
        list-style: none;
    }
